<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <h1>Welcome, please login to proceed!</h1>
  <form action="/register" method="POST">
    <div>
      <label for="username">Enter Username</label>
      <input name="username" id="username" type="text" placeholder="Username">
      <label for="password">Enter Password</label>
      <input name="password" id="password" type="password" placeholder="Password">
    </div>
    <button>Login</button>
  </form>
</body>

</html>